body {
	margin: 0;
}

p {
	font-family: "Poppins";
}

#welcome-section {
	background-color: black;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p {
	margin: 0;
}

#title {
	font-size: 50px;
	color: white;
}

#subtitle {
	color: #fca311;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: capitalize;
}

#projects-section {
	background-color: #14213d;
	padding-top: 50px;
}

#projects-title {
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 30px;
}

#project-hr {
	width: 95%;
}

.project-box {
	height: 500px;
	width: 250px;
	border: 1px solid red;
	margin: 10px;
	flex-direction: column;
	display: flex;
}

#project-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.project-image {
	height: 100%;
	width: 100%;
}

.project-image-title {
}
